anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
ipywidgets==7.5.1
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-server==0.1.1
jupyterlab==1.2.21
jupyterlab-pygments==0.1.1
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
matplotlib==3.1.1
nltk==3.4.5
numpy==1.17.2
numpydoc==0.9.1
pandas==0.25.1
praw==6.5.1
prawcore==1.0.1
scikit-learn==0.21.3
tweepy==3.8.0
